body {
    background-color: rgb(250,250,250);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner{
    width:375px;
}

.svgcontainer { 
  width: 400px;
  display: block;
  margin: auto;
  margin-top:20px;
}

path:hover{
    stroke: #BF0A30 !important;
    stroke-width: 2px;
    stroke-linejoin: round;
    /* fill: #002868 !important; */
    cursor: pointer;
    stroke-width: 2;
  }


@media (max-width: 770px){
    .container{
        margin:0 10%;
    }
    .banner{
        width:100%;
    }
}